/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic');

* {
	margin: 0;
	padding: 0;
}

*:hover,
*:focus,
*:visited {
	text-decoration: none;
	border:none;
}

body {
	font-family: century gothic, sans-serif;
}

video{
   position:fixed;
   z-index:-1;
   min-width:100%;
   overflow:hidden;
}

.navbar-toggler {
	border:none;
	color: #aaa;
}

.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
	background: transparent;
	border:none;
}

.navbar-nav {
	margin-left: 50%;
}

.navbar-nav > li:hover a {
	background-color: transparent;	
}

.navbar-light .navbar-nav .nav-link {

	color:#aaa;
	transition:all 0.5s ease;
	text-decoration: none;
	font-size: 25px;
	display: inline-block;
	margin: 0px 10px;
	border:none;
}

.navbar-light .navbar-nav .nav-link:hover {
	text-decoration: dotted underline #1897c2;
	color:#1897c2;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

header h1 {
	margin-top: 40px;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 3spx;
}

header h2 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	
	letter-spacing: 3spx;
}

header .text-left p {
	color:#fff;
	font-size: 20px;

}

header .text-left p:first-line {
	font-size: 25px;
}

.button1 {
	position: relative;
	background-color: transparent;
	width: 200px;
	height: 50px;
	margin:100px auto 50px;
	border:3px solid #ff7f00;
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;

}

.button1:before {
	content:'';
	display: inline-block;
	visibility: hidden;
	background-image: url(../img/bg_before.png);
	background-size: cover;
	width: 100px;
	height: 100px;
	position: absolute;
	top:-27px;
	left:-100px;
	opacity: 0;
	transform: rotateZ(60deg);
}

.button1:after {
	content:'';
	display: inline-block;
	visibility: hidden;
	background-image: url(../img/bg_after.png);
	background-size: cover;
	width: 100px;
	height: 100px;
	position: absolute;
	top:-27px;
	left:195px;
	opacity: 0;
	transform: rotateZ(60deg);
}

.button1:hover:before{
	left:0;
	z-index: 0;
	transition: all 0.5s ease-out;
	visibility: visible;
	opacity: 1;
	transform: rotateZ(0deg);
}


.button1:hover:after{
	left:95px;
	z-index: 0;
	transition: all 0.5s ease-out;
	visibility: visible;
	opacity: 1;
	transform: rotateZ(0deg);
}

.button1 p {
	color:#ff7f00;
	text-transform:uppercase;
	font-size: 12px;
	z-index: 1;
}

.orderTextTwo {
	display: none;
	visibility: hidden;

}

.button1:hover .orderTextTwo {
	display: inline-block;
	visibility: visible;
	color:#fff;
	transition: all 0.3s ease;
	z-index: 2;
	position: absolute;
	top:2px;
	left:17px;
	font-size: 15px;
}

.button1:hover .orderTextOne {
	display: none;
}












/* Small devices (tablets, 768px and up) */
@media (max-width:992px) { 
	.navbar-nav > li > a {
		margin: 0;
		padding: 0;
	}
	.navbar-nav {
	margin-left: 0;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }