/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic');

html {
	font-family: century gothic, sans-serif;
}

video{
   position:fixed;
   z-index:-1;
   min-width:100%;
   overflow:hidden;
}

.navbar {
	background: transparent;
	border:none;
}

.nav > li:hover a {
	background-color: transparent;	
}

.nav > li > a {
	color:#aaa;
	transition:all 0.5s ease;
	text-decoration: none;
	font-size: 25px;
	display: inline-block;
	margin: 0px 10px;
	border:none;
}

.navbar-right > li > a:hover {
	text-decoration: dotted underline #1897c2;
}

.navbar-collapse>.nav>li>a:hover {
	color:#1B97C2; !important
}

.navbar-header {
	float:left;
}

.navbar-toggle {
	margin-left: 20px;
	border:none;
	color:#aaa;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-family: century gothic;
	letter-spacing: 3spx;
}

header .text-left p {
	color:#fff;
	font-family: century gothic;
	font-size: 20px;

}

header .text-left p:first-line {
	font-size: 25px;
}

.button {
	position: relative;
	background-color: transparent;
	width: 200px;
	height: 50px;
	margin:100px auto 50px;
	border:3px solid #ff7f00;
	border-radius: 3px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;

}

.button:before {
	content:'';
	display: inline-block;
	visibility: hidden;
	background-image: url(../img/bg_before.png);
	background-size: cover;
	width: 100px;
	height: 100px;
	position: absolute;
	top:-27px;
	left:-100px;
	opacity: 0;
	transform: rotateZ(60deg);
}

.button:after {
	content:'';
	display: inline-block;
	visibility: hidden;
	background-image: url(../img/bg_after.png);
	background-size: cover;
	width: 100px;
	height: 100px;
	position: absolute;
	top:-27px;
	left:195px;
	opacity: 0;
	transform: rotateZ(60deg);
}

.button:hover:before{
	left:0;
	z-index: 0;
	transition: all 0.5s ease-out;
	visibility: visible;
	opacity: 1;
	transform: rotateZ(0deg);
}


.button:hover:after{
	left:95px;
	z-index: 0;
	transition: all 0.5s ease-out;
	visibility: visible;
	opacity: 1;
	transform: rotateZ(0deg);
}

.button p {
	color:#ff7f00;
	text-transform:uppercase;
	font-size: 12px;
	z-index: 1;
}

.orderTextTwo {
	display: none;
	visibility: hidden;

}

.button:hover .orderTextTwo {
	display: inline-block;
	visibility: visible;
	color:#fff;
	transition: all 0.3s ease;
	z-index: 2;
	position: absolute;
	top:2px;
	left:17px;
	font-size: 15px;
}

.button:hover .orderTextOne {
	display: none;
}













@media screen only and (max-width: 767px) {
	.navbar-nav > li > a {
		margin: 0;
		padding: 0;
	}
}